<div class="row">
	<div class="col-md-12">
		<h1>Page Builder</h1>
	</div>
</div>

<div class="row">
    <div class="col-sm-7">
        <div class="wrapper">
            <iframe src="<%= builder_view_path %>"></iframe>
        </div>
    </div>
    <div class="col-sm-5">
    	<div class="add-section">
    		<%= form_tag(sections_path, { class: 'form-horizontal' }) do %>
            	<select name="section_type_id">
                	<% @sectionTypes.each do |type| %>
                    	<option value="<%= type.id %>"><%= type.name %></option>
                	<% end %>
            	</select>
            	<button type="submit" class="btn btn-update">Add Section</button>
        	<% end %>
    	</div>
    	<!-- Nav tabs -->
		<ul class="nav nav-tabs">
  			<% @sections.each_with_index do |section, key| %>
            <li class="<%= key == 0 ? 'active':'' %>"><a href="#<%= section.id %>"data-toggle="tab"><%= section.section_type.name %></a></li>
            <% end %>
		</ul>
    	<div class="wrapper form">
    	<div class="tab-content">
        	<% @sections.each_with_index do |section, key| %>
    			<div class="tab-pane <%= key == 0 ? 'active':'' %>" id="<%= section.id %>">
					<%= form_tag(section_path(section), { class: 'form-horizontal', method: 'PUT' }) do %>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-remove">Remove Section</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<% section.section_type.section_fields.each do |field| %>
									<% item = field.send("section_#{field.field_table_name}_item") %>
									<%= render "partials/#{field.field_table_name}", field: field, item: item %>
								<% end %>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<button type="submit" class="btn btn-update heightFix">Update</button>
							</div>
						</div>
					<% end %>
				</div>
        	<% end %>
       		</div><!--end tab-content-->
      	</div>
    </div>
</div>

<footer>
	<div class="footer">
	</div>
</footer>
